:root {
  --aside-width: calc(100vw * 0.45);
  --charcoal: #151515;
  --blue: #3e3785;
  --highlight: #9e99d5;
  --white: #ffffff;
  --lt-gray: #efefef;
  --low-opacity-white: rgba(255, 255, 255, 0.6);
  --pearl-river: #d9d9d9;
  --soft-pebble: #5b516d;
  --seal: #393939;
  --card-width: 20vw;
  --card-adjustment: 3rem;
  --card-width-team: calc(100vw - 2rem);
  --card-adjustment-team: 3rem;
  --home-header: 5.6vw;
  --biggest: 9vw;
  /* I THINK THIS METHOD BELOW WILL WORK FOR TOGGLING LIGHT AND DARK MODE
  have some kind of js method that triggers a a change in the css variable
  need to research further*/
  /* --svg-fill: var(--charcoal) */
}
img {
  object-fit: cover;
}

@font-face {
  font-family: "dunbar";
  src: url("../assets/fonts/DUNBARTALL.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "dunbar-bold";
  src: url("../assets/fonts/DUNBARTALLBOLD.TTF") format("truetype");
}

@font-face {
  font-family: "agc-bold";
  src: url("../assets/fonts/AmericanGroteskCondensed-Bold.otf")
    format("truetype");
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--charcoal);
  color: white;
  position: relative;
}

.galaxy-1 {
  content: "";
  position: fixed;
  top: 350px;
  left: -360px;
  width: 650px;
  height: 600px;
  z-index: -1;

  background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 68, 0, 0.74),
      transparent 60%
    ),
    radial-gradient(circle at 50% 50%, rgba(138, 43, 226, 0.3), transparent 70%),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.15), transparent 80%),
    radial-gradient(circle at 50% 50%, rgba(72, 61, 139, 0.1), transparent 90%);
  opacity: 0.7;
  filter: blur(50px);
  pointer-events: none;
}

/* .galaxy-4 {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: radial-gradient(
      circle at 70% 60%,
      rgba(71, 61, 139, 0.89),
      transparent
    ),
    radial-gradient(circle at 30% 40%, rgba(147, 112, 219, 0.1), transparent);
  opacity: 0.3;
  pointer-events: none;
} */

.galaxy-2 {
  position: fixed;
  top: 50px;
  right: 100px;
  width: 500px;
  height: 500px;
  z-index: -1;
  background: radial-gradient(
      circle at 50% 50%,
      rgb(158 153 213),
      transparent 60%
    ),
    radial-gradient(circle at 50% 50%, rgba(255, 69, 0, 0.2), transparent 70%),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.15), transparent 80%),
    radial-gradient(circle at 50% 50%, rgba(255, 140, 0, 0.1), transparent 90%);
  opacity: 0.7;
  filter: blur(50px);
  pointer-events: none;
}
.galaxy-3 {
  position: fixed;
  top: -50px;
  right: 700px;
  width: 300px;
  height: 450px;
  z-index: -1;
  background: radial-gradient(circle at 50% 50%, #9c9999, transparent 60%),
    radial-gradient(circle at 50% 50%, rgba(255, 69, 0, 0.2), transparent 70%),
    radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.15), transparent 80%),
    radial-gradient(circle at 50% 50%, rgba(255, 140, 0, 0.1), transparent 90%);
  opacity: 0.7;
  filter: blur(50px);
  pointer-events: none;
}

@media (max-width: 990px) {
  body::before {
    width: 250px;
    height: 250px;
    top: 400px;
    left: -50px;
  }

  .galaxy-2 {
    width: 250px;
    height: 250px;
    top: 13%;
    right: -100px;
  }

  .galaxy-3 {
    top: 50px;
    right: 75px;
    width: 400px;
    height: 150px;
  }
}

main {
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
a,
p,
span,
button {
  color: white;
}
input,
textarea {
  border-radius: 0;
  box-sizing: border-box;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.svg-button > svg > path,
.crafting-div > svg > path,
.clients-container > svg > path {
  fill: white;
}
.contact-form-container > svg:nth-of-type(3) > path,
.contact-form-container > svg:nth-of-type(4) > path {
  fill: white;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: 1rem;
  top: 1rem;
  height: calc(100vh - 2rem);
  transform: translateX(calc(1rem + var(--aside-width)));
  transition: transform 400ms ease-in-out;
  padding: 2rem;
  box-sizing: border-box;
}
aside main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100%;
}
aside img {
  width: 40%;
}
aside .team-member-name {
  color: var(--charcoal);
}
aside .team-member-title {
  color: var(--seal);
}
aside p {
  font-family: "helvetica";
  color: black;
}
.close {
  border-color: #1e176a;
  color: #1e176a;
  margin: 0 !important;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms;
  transition: opacity 400ms ease-in-out;
  visibility: hidden;
  z-index: 6;
}

.overlay .close-outside,
.filter-overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.reveal {
  z-index: 11;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.reveal-aside {
  transform: translateX(0);
  opacity: 1;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica";
  margin: 1rem;
  align-items: center;
}

.header-left-and-right {
  width: 30%;
  z-index: 10;
}
.header-left-and-right > a {
  text-decoration: none;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.header-right > a:hover {
  text-decoration: underline;
}
/* .logo-link {
  height: calc(12vw * (414 / 1400));
  display: block;
} */
.header-left-and-right svg {
  width: 12vw;
  height: calc(12vw * (414 / 1400));
}

#time {
  z-index: 10;
}

.hamburger-icon {
  width: 20%;
}

.static-logo {
  width: 100%;
  height: auto;
}

@media (max-width: 990px) {
  .static-logo {
    width: 7rem !important;
    height: auto !important;
  }
}

@media (max-width: 990px) {
  .header-left-and-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: white;
    text-align: right;
  }

  .menu {
    background-color: #151515;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #151515;
    border-bottom: 1px solid #525252;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .menu li {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #525252;
  }

  .menu li > span {
    padding-left: 1rem;
    font-family: "agc-bold";
    font-size: 2rem;
  }

  .menu li > a {
    padding-right: 1rem;
    text-decoration: none;
    font-family: "agc-bold";
    font-size: 2rem;
    color: white;
  }
}

/* .bottom-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  } */

/* .bottom-time hr {
    flex: 1;
    border: none;
    border-top: 1px solid #525252; /* Add a grey horizontal line */
/* }  */

/* .time {
    border-top: 1px solid #525252;
    padding: 1rem;
    color: var(--low-opacity-white);
    width: 100%;
  } */

/* LOADING */
.loading-container {
  inset: 0;
  background-color: var(--charcoal);
  padding: 1rem;
  position: absolute;
  height: max-content;
}
.loading-bar-bg {
  background: rgba(255, 255, 255, 0.26);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  z-index: 5;
  top: calc(-100vh + 5px);
}
.loading-bar {
  height: 5px;
  width: 100%;
  background: white;
  position: absolute;
  left: -100%;
  bottom: 0;
}
.dropdown-div {
  position: absolute;
  background: var(--charcoal);
  z-index: 3;
  bottom: 5px;
  height: 100vh;
  width: calc(100vw - 2rem);
}
.fourcorners {
  transform: translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  align-items: center;
}
.loading-container > p,
.loading-container > p > span {
  font-family: "DM Mono";
  color: var(--low-opacity-white);
}
.percent,
.loading-welcome {
  position: absolute;
  bottom: 2rem;
}
.percent {
  right: 1rem;
  display: flex;
  justify-content: space-between;
  width: 4rem;
}
.lostinspace > path,
.lostinspace-o > path,
.lostinspace-o > line {
  transform: scale(1.3);
}
/* _index */
.homepage {
  margin-block: 1rem;
}
.home-header,
.svg-button-and-words-container,
.hero-container,
.clients-container,
.introduction-container {
  margin-inline: 1rem;
}
.home-header {
  font-family: "agc-bold";
  font-size: var(--home-header);
  line-height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.motion-span {
  display: block;
}
.highlight {
  color: var(--highlight);
}
.svg-button-and-words-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.svg-button-container {
  display: flex;
  gap: 1rem;
}
.svg-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-size: clamp(17px, 1.18vw, 24px);
  position: relative;
  cursor: pointer;
  padding: 1.5rem;
  padding-block: 1rem;
  margin: 0;
  border: 0;
  width: fit-content;
  position: relative;
  background: transparent;
  transition: color 1s, background-color 1s;
}
.svg-button:hover,
.selected-svg-button {
  background: var(--blue);
  color: white;
}
.hero-container {
  height: 100vh;
  /* overflow: hidden; */
  margin-block: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 30vh;
}
.crafting-div {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 30%;
  padding: 2rem;
  z-index: 2;
  background: var(--charcoal);
}
.crafting-div > p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "agc-bold";
  font-size: 2.75vw;
}
.crafting-div > svg {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.clients-container {
  position: relative;
  min-height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* team */
.team-hero-container .home-header {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.team-hero {
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
}
.team-container {
  margin: auto;
  margin-top: 3%;
  overflow-x: hidden;
}
.team-container > .team-button {
  text-align: center;
  margin-top: 3%;
  width: fit-content;
  margin-inline: auto;
}
.team-members-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: hidden;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.team-member {
  text-align: left;
  width: 23%;
  position: relative;
}

.team-member img {
  width: 100%;
  height: auto;
}

.team-member-name {
  font-family: "helvetica";
  margin-top: 0.5rem;
}

.team-member-title {
  font-family: "DM Mono";
  font-size: 0.75rem;
  color: var(--lt-gray);
  margin-top: 0.25rem;
}

.image-container {
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid var(--charcoal);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  color: var(--charcoal);
}

.modal {
  position: fixed;
  top: 5%;
  right: 0;
  width: 40%;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

.modal-content {
  flex-grow: 1;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid var(--charcoal);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1002;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Grey overlay */
  z-index: 1000; /* Behind modal */
}

/*  */
.centered-clients-container {
  text-align: center;
}
.centered-team-container {
  text-align: center;
  margin: auto;
}
.centered-clients-container > p,
.centered-team-container > p,
.contact-form-container > p {
  font-family: "DM Mono";
}
.centered-clients-container > h2,
.centered-team-container > h2,
.contact-form-container > h2 {
  font-family: "agc-bold";
  font-size: var(--biggest);
  margin: 0;
  margin-top: 1.5rem;
  line-height: 100%;
}
.contact-form-container > h2 {
  margin-bottom: 2rem !important;
}
.client-cards-carousel {
  display: flex;
  gap: 1rem;
  /* width: 100%; */
  position: absolute;
  left: calc(1rem + 100%);
  z-index: 2;
}
.client-card {
  background: var(--lt-gray);
  width: var(--card-width);
  padding: 1rem;
  box-sizing: border-box;
}
.client-card > img {
  aspect-ratio: 9/16;
  width: 100%;
}
.client-card > p {
  text-align: center;
  font-family: "agc-bold";
  color: var(--charcoal);
}
.clients-arrow-buttons-container {
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  transform: translateX(-50%);
}
.clients-arrow-buttons-container > button,
.close {
  padding: 1rem;
  background: transparent;
  border: 1px solid var(--highlight);
  margin: 0.5rem;
  color: var(--highlight);
  cursor: pointer;
  transition: color 1s, background-color 1s;
}
.clients-arrow-buttons-container > button:hover {
  background: var(--highlight);
  color: white;
}
.clients-arrow-buttons-container > button:disabled {
  background: transparent;
  border: 1px solid var(--pearl-river);
  color: var(--pearl-river);
  cursor: not-allowed;
}

.introduction-container {
  display: flex;
  justify-content: space-between;
  margin-block: 5rem;
  height: 80vh;
  overflow: hidden;
}
.introduction-container p,
.introduction-container h2 {
  margin: 0;
}
.introduction-label {
  background: var(--seal);
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  font-family: "helvetica";
}
.introduction-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.introduction-right > h2 {
  color: var(--charcoal);
  font-family: "agc-bold";
  font-size: 4vw;
}
.introduction-right > p {
  color: var(--highlight);
  font-family: "helvetica";
  font-size: 1.4vw;
}
.svg-quotes > rect,
.svg-quotes > polygon {
  fill: var(--soft-pebble);
}

.vos-xl-container {
  height: 500vh;
  position: relative;
}
.vos-video-bg {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background: url("../assets/images/videobg.gif"), var(--blue);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vos-video-bg > h2 {
  font-size: var(--biggest);
  text-align: center;
}
.vos-video-bg span {
  font-family: "agc-bold";
  color: white;
}
.vos-cover {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    40% 100%,
    40% 40%,
    60% 40%,
    60% 60%,
    40% 60%,
    40% 100%,
    100% 100%,
    100% 0%
  );
  background: white;
  position: absolute;
  inset: -1px;
}

/* SERVICES CSS */
.services-hompage {
  height: 100vh;
  margin-block: 1rem;
}
.services-hompage > h2 {
  font-size: var(--biggest);
  font-weight: bold;
  margin: 0;
  color: var(--charcoal);
  text-align: center;
  font-family: "agc-bold";
}

.services-container {
  width: 80%;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--seal);
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.services-left-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  padding: 1rem;
  overflow: hidden;
}

.services-left-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "agc-bold";
  margin: 0;
}

.services-left-section > svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.services-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 80%;
}

.service-box {
  background-color: white;
  padding: 1.5%;
  color: var(--charcoal);
  text-align: left;
  font-size: 1.3vw;
  margin: 0;
  font-family: helvetica;
  border-radius: 5px;
  opacity: 95%;
}

.services-right-section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.services-right-section img {
  max-width: 100%;
  aspect-ratio: 1/1;
}

.services-toggle-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.services-toggle-buttons > button {
  margin: 0.5%;
}
@media (max-width: 990px) {
  .services-container {
    height: auto;
  }

  .services-left-section {
    width: 100%;
    display: initial !important;
  }

  .services-content {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .services-image-container {
    height: 25vh !important;
    margin-bottom: 1.5rem;
  }

  .services-image-container > img {
    width: 100%;
  }
  .services-toggle-buttons {
    gap: 1rem;
  }
  .team-hero-container .home-header {
    margin-top: 1rem;
  }
}

.contact-form-container {
  position: relative;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}
.contact-form-container > h2 {
  font-size: 5.9vw;
  margin: 0;
}
.contact-form-container > form {
  background: var(--seal);
  width: 60%;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.inputs-container,
.selects-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 1rem;
}
.inputs-container input {
  width: 100%;
  padding: 1rem;
  font-family: "helvetica";
  border: none;
}
.inputs-container > input::placeholder,
.textarea-container > textarea::placeholder,
.selects-container > input::placeholder {
  color: var(--charcoal);
  font-family: "helvetica";
}
.inputs-container > input:focus-visible,
.textarea-container > textarea:focus-visible,
.selects-container > input:focus-visible {
  outline-color: var(--blue);
}
.selects-container > input {
  width: 100%;
  padding: 1rem;
  font-family: "helvetica";
  border: none;
}
.textarea-container {
  width: 100%;
  overflow: hidden;
}
.textarea-container > textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
  font-family: "helvetica";
  border: none;
}
.form-button-and-message-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2.5%;
  overflow: hidden;
  margin-top: 1rem;
}
.submission-message {
  font-family: "helvetica";
  color: white;
}
.error {
  color: #e96150;
}

/* SERVICES PAGE */

.services-hero-container {
  display: flex;
  margin: 1rem;
}

.services-left,
.services-right {
  width: 50%;
}

.services-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.services-header {
  text-transform: uppercase;
  color: var(--charcoal);
  font-family: "agc-bold";
  font-size: 3.4rem;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 3rem;
}

.scroll-to-explore {
  margin-top: auto;
  text-transform: uppercase;
  font-family: "dm mono";
  font-size: 1rem;
  color: var(--seal);
  margin-bottom: 0;
  padding-bottom: 0;
}

.services-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-image {
  width: 100%;
}

.goals-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  font-family: "helvetica";
  margin-top: 5rem;
}

.goal-item {
  flex: 0 1 calc(33.333% - 0.75rem);
  border: 1px solid #ffffff;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 990px) {
  .goals-grid {
    flex-direction: column;
    margin-top: 3rem;
  }
  .services-grid-page {
    margin-top: 1rem !important;
  }
  .services-hompage {
    height: auto !important;
  }
  .contact-form-container > h2 {
    margin-bottom: 1rem !important;
  }
}

.grey-box {
  width: 3rem;
  height: 3rem;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.grey-box img {
  width: 1rem;
  height: 1rem;
}

.goal-title {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.goal-description {
  font-size: 1rem;
}

/* FOOTER */

footer {
  padding: 1rem;
  background-color: transparent;
  color: #ffffff;
  font-family: "helvetica";
}

.footer-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--white);
  font-family: "dm mono";
}

.footer-header-item {
  text-align: center;
}

.footer-divider {
  margin: 1rem 0;
  border: 1px solid #525252;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.footer-left {
  width: 33%;
}

.footer-left > p,
.footer-left > h3,
.footer-right > h3,
.footer-right > p,
.footer-nav > p,
.footer-follow > p {
  color: var(--white);
}
.footer-left > p {
  line-height: 1.5rem;
}
.footer-right {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.footer-nav,
.footer-follow {
  margin-bottom: 1rem;
}

.footer-nav ul,
.footer-follow ul {
  list-style-type: none;
  padding: 0;
  color: var(--white);
}

.footer-nav li > a,
.footer-follow li > a {
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
.footer-nav li > a:hover,
.footer-follow li > a:hover {
  text-decoration: underline;
}

.footer-nav li,
.footer-follow li {
  margin-bottom: 1rem;
}

.footer-logo > svg {
  margin-block: 2rem;
  width: 20vw;
  height: calc(20vw * (414 / 1400));
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "dm mono";
}
.back-to-top {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: none;
  font-family: "dm mono";
  font-size: 1rem;
  padding-left: 0;
}
.back-to-top:hover {
  text-decoration: underline;
}
.footer-bottom-left,
.footer-bottom-center,
.footer-bottom-right {
  text-align: center;
}

.footer-bottom-left a,
.footer-bottom-right a {
  text-decoration: none;
  color: var(--white);
}

.footer-bottom-left a:hover,
.footer-bottom-right a:hover {
  text-decoration: underline;
}

.footer-main-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right-mobile {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6rem;
}

.footer-left-mobile > p {
  line-height: 1.75rem;
}

.footer-logo-mobile {
  width: 100% !important;
}

.footer-logo-mobile .static-logo {
  width: 100% !important;
}

.footer-mobile-header {
  font-family: "dm mono";
  letter-spacing: 0.02rem;
}

.footer-bottom-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom-mobile > a,
.footer-bottom-mobile > p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "dm mono";
  font-size: 0.75rem;
}

/* svgs */
.clients-container > svg,
.svg-button > svg,
.vos-cover > svg,
.vos-video-bg > svg,
.contact-form-container > svg,
.crafting-div > svg,
.about-hero-container > svg {
  width: 1vw;
  height: 1vw;
  position: absolute;
}
.about-hero-container > svg {
  width: 5vw;
  height: 5vw;
  margin-right: 1rem;
}
.svg-button > svg {
  width: 0.5vw;
  height: 0.5vw;
}
@media (max-width: 990px) {
  .svg-button > svg,
  .clients-container > svg,
  .svg-button > svg,
  .vos-cover > svg,
  .vos-video-bg > svg,
  .contact-form-container > svg,
  .crafting-div > svg {
    width: 2vw;
    height: 2vw;
  }
}
.vos-video-bg > svg > path,
.services-left-section > svg > path {
  fill: white;
}
.clients-container > svg:first-of-type,
.svg-button > svg:first-of-type,
.contact-form-container > svg:first-of-type {
  top: 0;
  left: 0;
}
.clients-container > svg:nth-of-type(2),
.contact-form-container > svg:nth-of-type(2),
.svg-button > svg:nth-of-type(2) {
  transform: rotate(90deg);
  top: 0;
  right: 0;
}
.clients-container > svg:nth-of-type(3),
.contact-form-container > svg:nth-of-type(3),
.svg-button > svg:nth-of-type(3) {
  transform: rotate(180deg);
  right: 0;
  bottom: calc(1vw / 100);
}
.clients-container > svg:nth-of-type(4),
.contact-form-container > svg:nth-of-type(4),
.svg-button > svg:nth-of-type(4) {
  transform: rotate(270deg);
  left: 0;
  bottom: calc(1vw / 100);
}

.vos-cover > svg:first-of-type,
.vos-video-bg > svg:first-of-type {
  top: 1rem;
  left: 1rem;
}

.vos-cover > svg:nth-of-type(2),
.vos-video-bg > svg:nth-of-type(2) {
  transform: rotate(90deg);
  top: 1rem;
  right: 1rem;
}

.vos-cover > svg:nth-of-type(3),
.vos-video-bg > svg:nth-of-type(3) {
  transform: rotate(180deg);
  right: 1rem;
  bottom: 1rem;
}

.vos-cover > svg:nth-of-type(4),
.vos-video-bg > svg:nth-of-type(4) {
  transform: rotate(270deg);
  left: 1rem;
  bottom: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 990px) {
  :root {
    --card-width: calc(100vw - 2rem);
    --home-header: 8.8vw;
    --biggest: 15vw;
  }
  .hero-container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: calc(-10vh + 1rem);
  }
  /* .hero-container > img {
    width: 90%;
  } */
  .crafting-div {
    width: 100%;
    background: var(--seal);
    color: white;
    inset-inline: 0;
    box-sizing: border-box;
    position: relative;
    top: -10vh;
  }
  .crafting-div > svg > path,
  .crafting-div > .svg-button > svg > path {
    fill: white;
  }
  .crafting-div > .svg-button {
    color: white;
  }

  .clients-container {
    flex-direction: column;
    gap: 1rem;
  }
  .client-cards-carousel {
    position: relative;
    left: 1000%;
    gap: calc(var(--card-adjustment) - 2rem);
  }
  .clients-arrow-buttons-container {
    position: static;
  }
  .inputs-container,
  .selects-container {
    flex-direction: column;
    gap: 1rem;
  }
  .inputs-container input,
  .selects-container > select {
    width: 100%;
  }
  .form-button-and-message-container > p {
    width: 60%;
    margin: 0;
  }
  .contact-form-container > form {
    width: calc(100vw - 2rem);
    box-sizing: border-box;
  }
  .team-members-container {
    gap: var(--card-adjustment-team);
    width: fit-content;
    transform: translateX(calc(var(--card-adjustment) - 2rem));
    margin-inline: 0;
    overflow-x: visible;
  }
  .team-member {
    width: var(--card-width-team);
  }
}

/* ABOUT PAGE */

.about-hero-container {
  padding: 1rem;
  position: relative;
}

.about-hero-container > svg > path {
  fill: white;
}
.about-hero-container > svg {
  transform: rotate(90deg);
  top: 0;
  right: 0;
}

.about-hero-image-container {
  width: calc(100% - 2rem);
  height: 100vh;
  overflow: hidden;
  margin: auto;
}

.about-hero-image {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

@media (max-width: 990px) {
  .about-hero-image-container {
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .about-hero-container .svg-button {
    margin: 0 !important;
    transform: none !important;
    margin-top: 3rem !important;
    margin-bottom: 0rem !important;
  }
}

.about-header {
  font-size: 1rem;
  text-align: center;
  color: white;
  font-family: "dm mono";
  transform: translateX(50%);
  width: fit-content;
  margin: auto;
}

.about-hero-container .home-header {
  width: 50%;
  margin-left: auto !important;
  text-align: left;
  font-size: 4vw;
  margin-top: 1rem;
  transform: translateX(1rem);
}

.mission-title {
  font-size: 1.75rem !important;
  font-family: "agc-bold" !important;
  margin-top: 0 !important;
}

@media (max-width: 990px) {
  .about-header {
    text-align: left;
    transform: none !important;
    margin-bottom: 3rem !important;
  }
  .mission-section {
    padding: 1rem 0 !important;
  }
  .mission-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .mission-text {
    width: 100% !important;
    text-align: left !important;
    margin-left: 0 !important;
    padding-left: 0;
  }
  .mission-title {
    font-size: 1.75rem !important;
    font-family: "agc-bold" !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .mission-text p {
    width: 100% !important;
  }
  .mission-text h2 {
    margin-top: 1rem !important;
  }
  .about-hero-container .home-header {
    width: 100% !important;
    margin-left: 0 !important;
    margin-bottom: 2rem !important;
    font-size: calc(var(--home-header) * 0.88);
  }
  .about-hero-container .home-header div {
    transform: none !important;
  }
  .home-header {
    margin-bottom: 3rem !important;
  }
  .crafting-div > p {
    font-size: 6vw;
    margin-bottom: 1rem;
  }
  .service-box {
    font-size: 0.95rem !important;
    padding: 3% !important;
  }
}

@media (max-width: 800px) {
  .crafting-div > p {
    line-height: 2.5rem;
  }
}

@media (max-width: 650px) {
  .crafting-div > p {
    /* line-height: 1.7rem; */
  }
}

.mission-section {
  padding: 2rem 0;
  overflow: hidden;
  min-height: 5rem;
}

.mission-content {
  display: flex;
  align-items: flex-start;
}

.mission-number {
  font-size: 2rem;
  font-weight: bold;
  font-family: "agc-bold";
}

.mission-text {
  width: 50%;
  margin-left: auto;
  text-align: left;
}

.mission-text h2 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-family: "agc-bold";
}

.mission-text p {
  font-size: 1rem;
  width: 50%;
  font-family: helvetica;
}
.text-wrapper {
  overflow: hidden;
}

/* 404 */

.fourohfour-container {
  position: relative;
  margin-top: -5.25rem;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.fourohfour-overlay {
  line-height: 1.75rem;
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 45%;
  transform: translateY(-50%);
  font-size: 4rem;
  font-family: "agc-bold";
}

.fourohfour-overlay > button {
  margin: auto;
}

@media (max-width: 990px) {
  .fourohfour-overlay {
    line-height: 1rem;
    font-size: 2rem;
  }
  .mobile-black-background {
    display: block;
    position: absolute;
    top: -10rem;
    left: 0;
    height: 150vh;
    width: 100vw;
    background-color: black;
    z-index: -100;
  }
}
@media (max-width: 990px) {
  .privacy-policy-container {
    width: calc(100% - 2rem) !important;
  }
}
