/* :root {
} */

@font-face {
  font-family: "dunbar";
  src: url("../assets/fonts/DUNBARTALL.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "dunbar-bold";
  src: url("../assets/fonts/DUNBARTALLBOLD.TTF") format("truetype");
}

body {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.header {
  display: flex;
  justify-content: space-between;
  font-family: "dunbar";
  margin-top: 2.5%;
}
.header-left-and-right {
  width: 30%;
}
.header-left-and-right > a {
  color: black;
  text-decoration: none;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
