:root {
  --charcoal: #151515;
  --blue: #1e176a;
  --light-grey: #efefef;
  --low-opacity-white: rgba(255, 255, 255, 0.6);
  --pearl-river: #d9d9d9;
  --soft-pebble: #5b516d;
  /* I THINK THIS METHOD BELOW WILL WORK FOR TOGGLING LIGHT AND DARK MODE
  have some kind of js method that triggers a a change in the css variable
  need to research further*/
  /* --svg-fill: var(--charcoal) */
}

@font-face {
  font-family: "dunbar";
  src: url("../assets/fonts/DUNBARTALL.TTF") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "dunbar-bold";
  src: url("../assets/fonts/DUNBARTALLBOLD.TTF") format("truetype");
}

@font-face {
  font-family: "agc-bold";
  src: url("../assets/fonts/AmericanGroteskCondensed-Bold.otf")
    format("truetype");
}

body {
  margin: 0;
  overflow-x: hidden;
}
main {
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
a,
p,
span,
button {
  color: var(--charcoal);
}
.svg-button > svg > rect,
.crafting-div > svg > rect,
.clients-container > svg > rect {
  fill: var(--charcoal);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica";
  margin: 1rem;
  align-items: center;
  margin-top: 2%;
}
.header-left-and-right {
  width: 30%;
}
.header-left-and-right > a {
  text-decoration: none;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* LOADING */
.loading-container {
  inset: 0;
  background-color: var(--charcoal);
  padding: 1rem;
  position: absolute;
}
.loading-bar-bg {
  background: rgba(255, 255, 255, 0.26);
  width: 100%;
  height: 5px;
  overflow: hidden;
}
.loading-bar {
  height: 100%;
  width: 100%;
  background: white;
  position: relative;
  left: -100%;
}
.dropdown-div {
  position: absolute;
  background: white;
  z-index: 3;
  height: 0;
  top: 1rem;
  width: calc(100vw - 2rem);
  opacity: 0;
}
.fourcorners {
  transform: translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 1rem;
  overflow: hidden;
}
.loading-container > p,
.loading-container > p > span {
  font-family: "DM Mono";
  color: var(--low-opacity-white);
}
.percent,
.loading-welcome {
  position: absolute;
  bottom: 0;
}
.percent {
  right: 1rem;
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

/* _index */
.homepage {
  margin-block: 1rem;
}
.home-header {
  font-family: "agc-bold";
  font-size: 5.3125rem;
  line-height: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.motion-span {
  display: block;
}
.highlight {
  color: var(--blue);
}
.svg-button-and-words-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}
.svg-button-container {
  display: flex;
  gap: 1rem;
}
.svg-button {
  font-family: "Helvetica";
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  width: 10vw;
  height: calc(0.33 * 10vw);
  position: relative;
  background: transparent;
  transition: color 1s, background-color 1s;
}
.svg-button:hover {
  background: var(--blue);
  color: white;
}
.hero-container {
  height: 100vh;
  overflow: hidden;
  margin-block: 1rem;
  position: relative;
}
.hero-container > img {
  width: 120%;
  position: relative;
  left: -10%;
  bottom: 0%;
}
@media (max-width: 1390px) {
  .hero-container > img {
    width: 150%;
    left: -30%;
  }
}
@media (max-width: 1120px) {
  .hero-container > img {
    width: 170%;
    left: -43%;
  }
}
.crafting-div {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 30%;
  padding: 2rem;
  z-index: 2;
  background: white;
}
.crafting-div > p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: "agc-bold";
  font-size: 2.75vw;
}
.crafting-div > svg {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.clients-container {
  position: relative;
  height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.centered-clients-container {
  width: 60%;
  text-align: center;
}
.centered-clients-container > p {
  font-family: "DM Mono";
}
.centered-clients-container > h2 {
  font-family: "agc-bold";
  font-size: 9vw;
  margin: 0;
  margin-top: 3rem;
  line-height: 100%;
}
.client-cards-carousel {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  position: absolute;
  left: calc(1rem + 100%);
  z-index: 2;
}
.client-card {
  background: var(--light-grey);
  width: 25vw;
  padding: 1rem;
}
.client-card > img {
  aspect-ratio: 1/1;
  width: 100%;
}
.client-card > p {
  text-align: center;
  font-family: "agc-bold";
}
.clients-arrow-buttons-container {
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  transform: translateX(-50%);
}
.clients-arrow-buttons-container > button {
  padding: 1rem;
  background: transparent;
  border: 1px solid var(--blue);
  margin: 0.5rem;
  color: var(--blue);
  cursor: pointer;
  transition: color 1s, background-color 1s;
}
.clients-arrow-buttons-container > button:hover {
  background: var(--blue);
  color: white;
}
.clients-arrow-buttons-container > button:disabled {
  background: transparent;
  border: 1px solid var(--pearl-river);
  color: var(--pearl-river);
  cursor: not-allowed;
}

.introduction-container {
  display: flex;
  justify-content: space-between;
  margin-block: 5rem;
  height: 80vh;
  overflow: hidden;
}
.introduction-container p,
.introduction-container h2 {
  margin: 0;
}
.introduction-label {
  background: var(--light-grey);
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  font-family: "helvetica";
}
.introduction-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.introduction-right > h2 {
  color: var(--charcoal);
  font-family: "agc-bold";
  font-size: 3vw;
}
.introduction-right > p {
  color: var(--soft-pebble);
  font-family: "helvetica";
  font-size: 1.4vw;
}
.svg-quotes > rect,
.svg-quotes > polygon {
  fill: var(--soft-pebble);
}

.vos-xl-container {
  height: 500vh;
  position: relative;
}
.vos-video-bg {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background: url("../assets/images/videobg.gif"), var(--blue);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vos-video-bg span {
  font-family: "agc-bold";
  color: white;
}
.vos-cover {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    40% 100%,
    40% 40%,
    60% 40%,
    60% 60%,
    40% 60%,
    40% 100%,
    100% 100%,
    100% 0%
  );
  background: white;
  position: absolute;
  inset: -1px;
}

/* svgs */
.clients-container > svg,
.svg-button > svg,
.vos-cover > svg,
.vos-video-bg > svg {
  width: 1vw;
  height: 1vw;
  position: absolute;
}
.clients-container > svg > rect,
.vos-cover > svg > rect {
  fill: var(--charcoal);
}
.vos-video-bg > svg > rect {
  fill: white;
}
.clients-container > svg:first-of-type,
.svg-button > svg:first-of-type {
  top: 0;
  left: 0;
}
.clients-container > svg:nth-of-type(2),
.svg-button > svg:nth-of-type(2) {
  transform: rotate(90deg);
  top: 0;
  right: 0;
}
.clients-container > svg:nth-of-type(3),
.svg-button > svg:nth-of-type(3) {
  transform: rotate(180deg);
  right: 0;
  bottom: 0;
}
.clients-container > svg:nth-of-type(4),
.svg-button > svg:nth-of-type(4) {
  transform: rotate(270deg);
  left: 0;
  bottom: 0;
}

.vos-cover > svg:first-of-type,
.vos-video-bg > svg:first-of-type {
  top: 1rem;
  left: 1rem;
}

.vos-cover > svg:nth-of-type(2),
.vos-video-bg > svg:nth-of-type(2) {
  transform: rotate(90deg);
  top: 1rem;
  right: 1rem;
}

.vos-cover > svg:nth-of-type(3),
.vos-video-bg > svg:nth-of-type(3) {
  transform: rotate(180deg);
  right: 1rem;
  bottom: 1rem;
}

.vos-cover > svg:nth-of-type(4),
.vos-video-bg > svg:nth-of-type(4) {
  transform: rotate(270deg);
  left: 1rem;
  bottom: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 990px) {
  .hero-container {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .crafting-div {
    position: relative;
    width: 100%;
    background: var(--charcoal);
    color: white;
    inset: 0;
  }
  .crafting-div > svg > rect,
  .crafting-div > .svg-button > svg > rect {
    fill: white;
  }
  .crafting-div > .svg-button {
    color: white;
  }
}

/* SERVICES CSS */

.services-page h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
  font-family: "agc-bold";
}

.services-container {
  width: 80%;
  max-width: 80%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  padding: 20px;
  position: relative;
}

.services-left-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.services-left-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  font-family: "agc-bold";
  margin: 0;
}

.services-left-section > svg {
  height: 4%;
  width: 3%;
}

.services-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.service-box {
  background-color: #ffffff;
  padding: 1.5%;
  color: #000;
  text-align: left;
  font-size: 1.1rem;
  margin: 0;
}

.services-right-section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-right-section img {
  max-width: 100%;
}

.services-toggle-buttons {
  text-align: center;
  margin: 1%;
  margin-top: 2%;
}

.services-toggle-buttons > button {
  margin: 0.5%;
}
